# 빌드 된 프로그램들
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# 각종 설정 폴더들
.settings/


# 제외 파일들
*.swf
*.air
*.ipa
*.apk
*.jar
*.pom
*.json
*.exe
*.pickle
*.txt
*.zip
*.pyc
*.tar.gz
*.bin
*.xml
*.pt
*.model
*.vocab
util/__pycache__/func.cpython-36.pyc